{% extends "layout.html" %}

{% block title %}
Umar
{% endblock %}

{% block content %}

<h1 class="text-center text-white mt-4">welcome to UMAR project</h1>

<h2>
    {% if form.instance.pk %}
    Edit tweet 
    {% else %}
    Create tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
    <br>
    <a href="{% url 'tweet_list' %}" class="mt-2 d-inline-block">Back to tweet list</a>

    </form>
</h2>

{% endblock %}